.dropzone {
    width: 100%;
    border: 0.09rem dashed grey;
    height: 400px;
    justify-content: center;
    display: flex;
    align-items: center;

    button {
        background-color: #25b797 !important;
    }

    p {
        color: #315a8f;
        font-size: 1.2rem;
        font-weight: 400;
    }
}

.add-property-info {
    background-color: #f9fbfe;
    p {
        color: #4a6f9d;
    }
    input[type="text"],
    textarea {
        background-color: #f9fbfe;
    }
}
#address {
    font-size: 1.5rem;
    color: #25b797 !important;
    width: 80%;
}
.no-border {
    border: none;
}

.edit-price {
    input {
        width: 8.5rem;
    }
    font-size: 1.5rem;
    img {
        width: 1.5rem;
    }
}

.edit-property-details {
    select {
        background-color: white !important;
        border: none !important;
        font-size: 0.8rem;
        margin: 0 0.5rem;
        color: gray !important;
    }
    option {
        color: gray !important;
    }
    span {
        color: gray;
    }
    display: flex;
}

.edit-sqfeet,
.edit-sqfeet-lot {
    margin: 0 1.5rem;
    font-size: 0.8rem;
    input {
        width: 2.25rem;
    }
    img {
        width: 0.7rem;
    }
}
