.dropzone {
  width: 100%;
  border: 0.09rem dashed grey;
  height: 400px;
  justify-content: center;
  display: flex;
  align-items: center; }
  .dropzone button {
    background-color: #25b797 !important; }
  .dropzone p {
    color: #315a8f;
    font-size: 1.2rem;
    font-weight: 400; }

.add-property-info {
  background-color: #f9fbfe; }
  .add-property-info p {
    color: #4a6f9d; }
  .add-property-info input[type="text"],
  .add-property-info textarea {
    background-color: #f9fbfe; }

#address {
  font-size: 1.5rem;
  color: #25b797 !important;
  width: 80%; }

.no-border {
  border: none; }

.edit-price {
  font-size: 1.5rem; }
  .edit-price input {
    width: 8.5rem; }
  .edit-price img {
    width: 1.5rem; }

.edit-property-details {
  display: flex; }
  .edit-property-details select {
    background-color: white !important;
    border: none !important;
    font-size: 0.8rem;
    margin: 0 0.5rem;
    color: gray !important; }
  .edit-property-details option {
    color: gray !important; }
  .edit-property-details span {
    color: gray; }

.edit-sqfeet,
.edit-sqfeet-lot {
  margin: 0 1.5rem;
  font-size: 0.8rem; }
  .edit-sqfeet input,
  .edit-sqfeet-lot input {
    width: 2.25rem; }
  .edit-sqfeet img,
  .edit-sqfeet-lot img {
    width: 0.7rem; }
