.fa-angle-up,
.fa-angle-down {
  color: lightgray; }

h1 {
  font-weight: 100; }

.section-title {
  font-size: 1.5rem;
  font-weight: 500; }

.dashboard {
  margin-bottom: 10%; }

.borderless {
  border: none !important; }

.offer-info {
  display: flex; }
