.fa-angle-up,
.fa-angle-down {
    color: lightgray;
}
h1 {
    font-weight: 100;
}
.section-title {
    font-size: 1.5rem;
    font-weight: 500;
}

.borderless {
    border: none !important;
}

.offer-info {
    display: flex;
}
