.uplopad-download {
    border: 1px solid lightgrey;
    border-radius: 1em;
    position: relative;
    height: 150px;
    .title {
        color: #5665c0;
        font-size: 20px;
        width: 95%;
        margin-top: 0.5em;
        margin-left: 1em;
    }
    .actions-container {
        text-align: center;
        display: flex;
        align-content: center;
        justify-content: space-around;
        width: 100%;
        position: absolute;
        bottom: 0;
        font-size: 0.75em;
        max-height: 40px;
        p {
            margin: 1em;
        }
    }

    .download-section {
        background: #5665c0;
        border-bottom-left-radius: 1em;
        color: white;
        align-items: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .download-actions,
    .fileUpload-actions {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .upload-section {
        width: 100%;
        background: #4fb7a6;
        border-bottom-right-radius: 1em;
        color: white;
        display: flex;
        align-items: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .fileUpload-dropzone-wrapper {
        width: 100%;
    }
}
