md-dialog {
  max-height: 300px !important; }

.row {
  margin-right: 0px !important;
  margin-left: 0px !important; }

.receiver {
  background-color: #0E68B3 !important;
  color: white !important; }
