.listing-docs .download-doc {
  outline: 1px solid gray;
  padding: 5px 10px 10px 10px;
  position: absolute;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: -5px;
  z-index: 1; }
  .listing-docs .download-doc span {
    margin-left: 10px; }
