.listing-docs .download-doc {
  outline: 1px solid gray;
  padding: 5px 10px 10px 10px;
  position: absolute;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: -5px;
  z-index: 1; }
  .listing-docs .download-doc span {
    margin-left: 10px; }

.listing-docs .upload-container {
  width: 20%;
  margin: 0 1em;
  margin-bottom: 1em; }

.listing-docs .doc-sign-icon {
  width: 25px;
  height: 25px;
  margin-right: 1em; }

.listing-docs .user-doc-container {
  margin-left: 2em;
  color: #5665c0; }
  .listing-docs .user-doc-container p {
    display: flex;
    margin-right: 1em; }
    .listing-docs .user-doc-container p .material-icons {
      margin-left: 1em; }

.listing-docs .user-doc-container.incomplete:hover {
  cursor: pointer;
  opacity: 0.7; }

.listing-docs .user-doc-container.completed:hover {
  cursor: pointer;
  opacity: 1; }
