.bottom-nav {
  z-index: 1;
  position: fixed !important;
  bottom: 0 !important;
  background-color: #fafafa !important; }
  .bottom-nav .material-icons {
    display: none !important; }
  .bottom-nav div {
    color: darkgray !important; }
