.bottom-nav {
    .material-icons {
        display: none !important;
    }
    div {
        border-right: 1px solid lightgray;
    }
    z-index: 1;
    position: fixed !important;
    bottom: 0 !important;
    background-color: #fafafa !important;
}
