.bottom-nav {
  z-index: 1;
  position: fixed !important;
  bottom: 0 !important;
  background-color: #fafafa !important; }
  .bottom-nav .material-icons {
    display: none !important; }
  .bottom-nav li {
    list-style: none !important; }
  .bottom-nav div {
    border-right: 1px solid lightgray; }
  .bottom-nav p {
    margin-top: inherit;
    font-size: 0.8rem;
    font-weight: 100;
    display: block;
    padding: 18px 0;
    position: relative;
    white-space: nowrap;
    color: dimgrey !important;
    background: #f5f5f5; }
