.bottom-nav{
    .material-icons{
      color: white !important;
    }
    div{
        color: white !important;
    }
    z-index:1;
    position: fixed !important;
    bottom: 0 !important;
    background-color: rgba(34, 70, 113, 0.94) !important;
  }