.offers-download {
    width: 35%;
    position: relative;
    display: flex;
    p {
        color: #3c4046;
    }
}

img {
    &:hover {
        cursor: pointer;
    }
}

.offers-user-doc {
    border: 1px solid #a2aab6;
    padding: 0em 0.5em 0 1.25em;
    position: absolute;
    left: 17px;
    top: 7px;
    display: flex;
    &:hover {
        cursor: pointer;
    }
}

.call-us {
    font-size: 12px;
    width: 75%;
}

.white-out {
    background-color: white;
    position: absolute;
    z-index: 1;
    width: 30px;
    height: 20px;
    left: 3px;
    top: 3px;
}

.counter-offer-link {
    margin-left: 2em;
}
