.house-pics {
    overflow: scroll;
    height: calc(100vh - 165px);
    background-color: #edeeef;
    img {
        width: 50%;
    }
    span {
        margin: 2%;
    }
}

.property-info {
    .house-price {
        font-size: 1.7em;
        i {
            color: #eb7c4d;
            margin-top: 2%;
        }
    }
    .house-address {
        overflow: hidden;
        color: #acacac;
        text-overflow: ellipsis;
    }
    .house-beds {
        margin-left: 5%;
    }
}
