.house-pics {
  overflow: scroll;
  height: 475px;
  background-color: #edeeef; }
  .house-pics img {
    width: 100%; }
  .house-pics span {
    margin: 2%; }

.property-info .house-price {
  font-size: 1.7em; }
  .property-info .house-price i {
    color: #eb7c4d;
    margin-top: 2%; }

.property-info .house-address {
  white-space: nowrap;
  overflow: hidden;
  color: #acacac;
  text-overflow: ellipsis; }

.property-info .house-beds {
  margin-left: 5%; }
