.half-circle {
  position: absolute;
  z-index: 100;
  width: 50%;
  height: 100%; }

.half-circle:after {
  background: transparent;
  position: absolute;
  transform: scale(0.7) rotate(19deg) skewY(52deg);
  box-shadow: 1.5px -1.5px 0px 0px #d2d2d2;
  content: "";
  height: 100%;
  border-radius: 0 0 0 0;
  z-index: 500; }

.property-wrapper {
  border-bottom: 1px solid #ced4da; }

.house-pics {
  width: 70%;
  margin-left: auto;
  padding-bottom: 3rem;
  overflow: scroll;
  background-color: #edeeef; }
  .house-pics img {
    width: 98%;
    height: 100%; }
  .house-pics span {
    margin: 2%; }

.property-info .house-price {
  font-size: 1.7em; }
  .property-info .house-price i {
    color: #eb7c4d;
    margin-top: 2%; }

.property-info .house-address {
  overflow: hidden;
  color: #acacac;
  text-overflow: ellipsis; }

.property-info .house-beds {
  margin-left: 5%; }
