@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.form-control {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  background-color: #edeeef; }

.search-options {
  background-color: #edeeef; }

.user-select {
  width: 75px !important; }

.horizontal-scroll {
  display: flex;
  min-width: 100%;
  overflow-x: auto;
  white-space: nowrap; }
  .horizontal-scroll .property-pic {
    min-width: 50%;
    display: inline-block;
    vertical-align: middle; }

.user-search {
  opacity: 10%;
  position: absolute;
  top: 20px;
  right: 1%;
  padding: 0 !important;
  height: 100vh; }
  .user-search .search-input {
    position: relative; }
    .user-search .search-input .fa {
      position: absolute;
      margin-left: 85%;
      font-size: 1.5rem;
      margin-top: 1%;
      color: #717171; }
  .user-search img {
    width: 100%; }
  .user-search #micasa-logo {
    width: 75%; }
  .user-search .header {
    filter-gradient: #1e5799, #7db9e8, vertical;
    background-image: linear-gradient(left, #315a8f 0%, #4e74a4 67%, #6286b3 100%);
    color: white;
    padding: 15px; }
  .user-search .buy-sell p:first-child, .user-search .buy-sell p:nth-child(2) {
    border-right: 1px solid white;
    padding-right: 10px; }
  .user-search .buy-sell p {
    display: inline;
    margin: 5%; }
