
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.form-control{
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  background-color: #edeeef;
}

.search-options{
  background-color: #edeeef;
}

.user-select {
  width: 75px !important; 
}

.horizontal-scroll{
  display: flex;
  min-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  .property-pic{
    min-width: 100%;
    display: inline-block;
    vertical-align: middle
  }
}

.user-search{
    opacity: 10%;
    position: absolute;
		top: 20px;
    right: 1%;
    height:98%;
    padding: 0 !important;

    .search-input{
      position: relative;
      .fa{
        position: absolute;
        margin-left: 85%;
        font-size: 2.6rem;
        margin-top: 2%;
        color: #717171;
      }
    }
  
    img{
      width: 100%;
    }

    #micasa-logo{
      width: 75%;
    }

    .form-control{
        padding: 5%;
    }

    .header{
      filter-gradient: (#1e5799, #7db9e8, vertical); // IE6-9
      background-image: (linear-gradient(left, #1e5799 0%,#2989d8 67%,#7db9e8 100%));
      color: white;
      padding: 15px;
    }

    .buy-sell{
      p:first-child, p:nth-child(2){
        border-right: 1px solid white;
        padding-right: 10px;
      }
      p{
        display: inline;
        margin: 5%;
      }
    }

  }
