.form-control {
  border-right: 0;
  border-left: 0;
  border-radius: 0; }

.user-search {
  opacity: 10%;
  position: absolute;
  /* bottom: 18%; */
  top: 20px;
  right: 1%;
  height: 98%;
  padding: 0 !important; }
  .user-search img {
    width: 100%; }
  .user-search .user-select {
    width: 75px !important; }
  .user-search .form-control {
    padding: 5%; }
  .user-search .header {
    background-color: rgba(150, 94, 7, 0.99);
    color: white;
    padding: 15px; }
  .user-search .buy-sell p {
    display: inline;
    margin-left: 5%; }
