.user-search {
  position: absolute;
  bottom: 5%;
  right: 0;
  height: 450px;
  padding: 0 !important; }
  .user-search .user-select {
    width: 75px !important; }
  .user-search .form-control {
    padding: 5%; }
  .user-search .header {
    background-color: rgba(150, 94, 7, 0.99);
    color: white;
    padding: 15px; }
  .user-search .buy-sell p {
    display: inline;
    margin-left: 5%; }
