.form-control{
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

.horizontal-scroll{
  display: flex;
  min-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  .property-pic{
    min-width: 400px;
    display: inline-block;
    vertical-align: middle
  }
}

.user-search{
    opacity: 10%;
    position: absolute;
    /* bottom: 18%; */
		top: 20px;
    right: 1%;
    height:98%;
    padding: 0 !important;
  
    img{
      width: 100%;
    }

    .user-select{
        width: 75px !important;
    }

    .form-control{
        padding: 5%;
    }

    .header{
      filter-gradient: (#1e5799, #7db9e8, vertical); // IE6-9
      background-image: (linear-gradient(left, #1e5799 0%,#2989d8 67%,#7db9e8 100%));
      color: white;
      padding: 15px;
    }

    .buy-sell{
      p:first-child, p:nth-child(2){
        border-right: 1px solid white;
        padding-right: 10px;
      }
      p{
        display: inline;
        margin: 5%;
      }
    }

  }
