.listing-docs {
    .calendar-wrapper {
        display: flex;
        justify-content: space-between;
        margin: 1em;
        width: 90%;
    }

    .calendar-input {
        width: 135px;
    }
}
