.top-nav {
    border-bottom: 1px solid #d5dae1;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.5rem;

    .nav-options {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        p {
            padding: 0 1rem;
            border-right: 1px solid #f3f3f3;
            color: #b1b2b5;
        }
    }
}
